/* .goalsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
} */

.bgimg {
    background: url('./servBg.jpg');
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ch {
    color: white;
}

.m-at {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.goalCard {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 100%;
    max-height: 100%;
    position: relative;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--orange);
    padding: 1rem 2rem;
    margin: 1rem auto;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.cardHeading {
    font-size: 2rem;
}

.card:nth-child(1) {
    animation: initiatorleft forwards 1.5s ease;
    /* left: 0%; */
}

.card:nth-child(2) {
    animation: initiatorright forwards 2s ease;
    /* right: 0%; */
}

.card:nth-child(3) {
    animation: initiatorleft forwards 2s ease;
    /* left: 0%; */
}

.card:nth-child(4) {
    animation: initiatorright forwards 1.5s ease;
    /* right: 0%; */
}

.cardImg {
    width: 100px;
    height: 100px;
}

@keyframes initiatorright {
    0% {
        /* right: -100%; */
        opacity: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        /* right: 0; */
    }
}

@keyframes initiatorleft {
    0% {
        /* left: -100%; */
        opacity: 0;
        transform: rotate(-180deg);
    }
    100% {
        opacity: 1;
        /* left: 0; */
    }
}